/* pakages css */

.container {
    position: relative;
    width: 20%;
    float: left;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: xx-large;
    color: black;
    font-style: oblique;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    /* make all photos black and white */
    width: 100%;
    height: 100%;
    /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}


/* pakages css end */

.mains {
    margin-left: 5%;
    margin-bottom: 2%;
}

ul {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    /*flex property displays the blocks next to each other*/
    justify-content: space-around;
    /*distribute the equal space among the divs displayed as flex*/
    align-items: center;
    /*allign the text in center(vertically)*/
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links {
    display: flex;
    /*background-color: red;*/
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        /*use to remove the scrollbar for sidebar*/
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        /*it moves whole sidebar off the screen*/
        transition: transform 0.5s ease-in;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}


/*Navigation css ends*/

.icons i {
    padding: 20px 0px 0px 20px;
    font-size: 20px;
}

.icons {
    margin-left: 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}