a {
    text-decoration: none
}

h4 {
    text-align: center;
    margin: 30px 0;
    color: #444
}

.main-timeline5 {
    overflow: hidden;
    position: relative
}

.main-timeline5 .timeline {
    position: relative;
    margin-top: -79px
}

.main-timeline5 .timeline:first-child {
    margin-top: 0
}

.main-timeline5 .timeline-icon,
.main-timeline5 .year {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.main-timeline5 .timeline:after,
.main-timeline5 .timeline:before {
    content: "";
    display: block;
    width: 100%;
    clear: both
}

.main-timeline5 .timeline:before {
    content: "";
    width: 100%;
    height: 100%;
    box-shadow: -8px 0 5px -5px rgba(0, 0, 0, .5) inset;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2
}

.main-timeline5 .timeline-icon {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border: 25px solid transparent;
    border-top-color: #f44556;
    border-right-color: #f44556;
    z-index: 1;
    transform: rotate(45deg)
}

.main-timeline5 .year {
    display: block;
    width: 110px;
    height: 110px;
    line-height: 110px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
    font-size: 30px;
    font-weight: 700;
    color: #f44556;
    text-align: center;
    transform: rotate(-45deg)
}

.main-timeline5 .timeline-content {
    width: 35%;
    float: right;
    background: #f44556;
    padding: 30px 20px;
    margin: 50px 0;
    z-index: 1;
    position: relative
}

.main-timeline5 .timeline-content:before {
    content: "";
    width: 20%;
    height: 15px;
    background: #f44556;
    position: absolute;
    top: 50%;
    left: -20%;
    z-index: -1;
    transform: translateY(-50%)
}

.main-timeline5 .title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 10px
}

.main-timeline5 .description {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin: 0
}

.main-timeline5 .timeline:nth-child(2n):before {
    box-shadow: 8px 0 5px -5px rgba(0, 0, 0, .5) inset
}

.main-timeline5 .timeline:nth-child(2n) .timeline-icon {
    transform: rotate(-135deg);
    border-top-color: #e97e2e;
    border-right-color: #e97e2e
}

.main-timeline5 .timeline:nth-child(2n) .year {
    transform: rotate(135deg);
    color: #e97e2e
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content {
    float: left
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
    left: auto;
    right: -20%
}

.main-timeline5 .timeline:nth-child(2n) .timeline-content,
.main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
    background: #e97e2e
}

.main-timeline5 .timeline:nth-child(3n) .timeline-icon {
    border-top-color: #13afae;
    border-right-color: #13afae
}

.main-timeline5 .timeline:nth-child(3n) .year {
    color: #13afae
}

.main-timeline5 .timeline:nth-child(3n) .timeline-content,
.main-timeline5 .timeline:nth-child(3n) .timeline-content:before {
    background: #13afae
}

.main-timeline5 .timeline:nth-child(4n) .timeline-icon {
    border-top-color: #105572;
    border-right-color: #105572
}

.main-timeline5 .timeline:nth-child(4n) .year {
    color: #105572
}

.main-timeline5 .timeline:nth-child(4n) .timeline-content,
.main-timeline5 .timeline:nth-child(4n) .timeline-content:before {
    background: #105572
}

@media only screen and (max-width:1199px) {
    .main-timeline5 .timeline {
        margin-top: -103px
    }
    .main-timeline5 .timeline-content:before {
        left: -18%
    }
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
        right: -18%
    }
}

@media only screen and (max-width:990px) {
    .main-timeline5 .timeline {
        margin-top: -127px
    }
    .main-timeline5 .timeline-content:before {
        left: -2%
    }
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
        right: -2%
    }
}

@media only screen and (max-width:767px) {
    .main-timeline5 .timeline {
        margin-top: 0;
        overflow: hidden
    }
    .main-timeline5 .timeline:before,
    .main-timeline5 .timeline:nth-child(2n):before {
        box-shadow: none
    }
    .main-timeline5 .timeline-icon,
    .main-timeline5 .timeline:nth-child(2n) .timeline-icon {
        margin-top: -30px;
        margin-bottom: 20px;
        position: relative;
        transform: rotate(135deg)
    }
    .main-timeline5 .timeline:nth-child(2n) .year,
    .main-timeline5 .year {
        transform: rotate(-135deg)
    }
    .main-timeline5 .timeline-content,
    .main-timeline5 .timeline:nth-child(2n) .timeline-content {
        width: 100%;
        float: none;
        border-radius: 0 0 20px 20px;
        text-align: center;
        padding: 25px 20px;
        margin: 0 auto
    }
    .main-timeline5 .timeline-content:before,
    .main-timeline5 .timeline:nth-child(2n) .timeline-content:before {
        width: 15px;
        height: 25px;
        position: absolute;
        top: -22px;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0)
    }
}

ul {
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    /*flex property displays the blocks next to each other*/
    justify-content: space-around;
    /*distribute the equal space among the divs displayed as flex*/
    align-items: center;
    /*allign the text in center(vertically)*/
    min-height: 8vh;
    background-color: #5D4954;
    font-family: 'Poppins', sans-serif;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 25px;
}

.nav-links {
    display: flex;
    /*background-color: red;*/
    justify-content: space-around;
    width: 40%;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 2px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 55%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
        /*use to remove the scrollbar for sidebar*/
    }
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        /*it moves whole sidebar off the screen*/
        transition: transform 0.5s ease-in;
    }
    .burger {
        display: block;
    }
}

.nav-active {
    transform: translateX(0%);
}


/*Navigation css ends*/

.icons i {
    padding: 20px 0px 0px 20px;
    font-size: 20px;
}

.icons {
    margin-left: 35px;
    cursor: pointer;
}

@media (max-width: 768px) {
    footer {
        display: none;
    }
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

form_main {
    width: 100%;
}

.form_main h4 {
    font-family: roboto;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 20px;
    text-transform: uppercase;
}

.heading {
    border-bottom: 1px solid #fcab0e;
    padding-bottom: 9px;
    position: relative;
}

.heading span {
    background: #9e6600 none repeat scroll 0 0;
    bottom: -2px;
    height: 3px;
    left: 0;
    position: absolute;
    width: 75px;
}

.form {
    border-radius: 7px;
    padding: 6px;
}

.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

.txt_3[type="text"] {
    margin: 10px 0 0;
    padding: 10px 0 10px 5px;
    width: 100%;
}

.txt2[type="submit"] {
    background: #242424 none repeat scroll 0 0;
    border: 1px solid #4f5c04;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 30%;
}

.txt2:hover {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #5793ef;
    transition: all 0.5s ease 0s;
}